html, body {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
}
p{
  margin: 0;
  padding: 0.2rem;
}
p.note{
  font-size: small;
  background-color: #f0f0f0;
  color: #666;
  padding:0.75rem;
  margin: 1rem 0 1rem 0;
}

article p.image{
  text-align: center;
}
article p.image img{
  width: 97%;
}

h1.sectionTitle{
  background: #eeeeff;
}

h2.articleTitle{
  font-size: 1.2rem;
}
article h3{
  font-size: 1.0rem;
}

div{
  text-align: center;
}
canvas {
  display: block;
}
.countrySelector{
  width:21rem;
  margin:1em auto;
position:relative;
}
.saveButton,.importantNotificationButton,.normalNotificationButton{
  width:10rem;
  margin:1em auto;
  position:relative;
}

.importantNotificationButton button{
  font-size:1.2rem;
  color:#fff;
  background:#f00;
}

.normalNotificationButton button{
  background:#ffd;
}

select,button{
  -webkit-appearance:none;
    appearance:none;
  width:100%;
  padding:0.5em 0.5em;
  box-sizing:border-box;
  font-size:0.8em;
  border:#ccc 1px solid;
  border-radius:0;
  background:#fff;
}
.countrySelector::after{
  content:"";
  display:block;
  width:10px;
  height:10px;
  position:absolute;
  right:20px;
  top:35%;
  border-bottom:#333 2px solid;
  border-right:#333 2px solid;
  transform:rotate(45deg)translateY(-30%);
}

div.shareButton{
  text-align: center;
}
div.shareButton>div{
  display:inline-block;
  margin: 10px;
}

div.latest-table{
  width:21rem;
  margin-left: auto;
  margin-right: auto;
}

div.latest-table table{
  margin-left: auto;
  margin-right: auto;
  font-size: small;
  border: 1px solid #ccc;
  border-collapse:separate;
  border-spacing: 0;
}
div.latest-table table td{
  border: 1px solid #ccc;
  padding: 0.2em 1em;
  text-align: right;
}
